<template>
  <content-module name="things">
    <el-breadcrumb separator="/" style="margin-bottom:.5rem">
      <el-breadcrumb-item to="/dashboard">{{$t('thing.breadcrumb.home')}}</el-breadcrumb-item>
      <el-breadcrumb-item>{{$t('thing.breadcrumb.current')}}</el-breadcrumb-item>
    </el-breadcrumb>
    <div style="margin-bottom:.5rem">
      <el-button type="primary" icon="plus" @click.native="createThing">{{$t('operation.create')}}</el-button>
    </div>
    <div>
      <el-card class="box-card" v-for="thing in things" :key="thing._id" :body-style="{ padding: '0px' }">
        <div slot="header" class="clearfix">
          <span>{{thing.pid}}</span>
          <i class="el-icon-delete icon" @click="deleteThing(thing)"></i>
          <i class="el-icon-edit icon" @click="editThing(thing)"></i>
        </div>
        <div  v-if="thing.coverImage && thing.coverImage.length>0"
             v-bind:style="{ backgroundImage: 'url(/images/'+thing.coverImage[0].url+')'}"
             class="listcover"></div>
        <div v-else class="listcover nocover">
          No cover set yet
        </div>
      </el-card>
      <el-pagination
              :current-page="currentPage"
              :page-size="pageSize"
              @current-change="fetch"
              layout="prev, pager, next"
              :total="total">
      </el-pagination>
    </div>


    <el-dialog :title="form._id ? $t('thing.edit.update') : $t('thing.edit.create')"
               :before-close="handleClose"
               v-if="formVisible"
               :visible.sync="formVisible">
      <el-form :model="form" :rules="rules" ref="thing" label-width="49%" label-position="left">
        <!-- COMMON PROJECT FIELDS -->
        <el-form-item :label="$t('thing.model.pid')"  prop="pid">
          <el-input v-model="form.pid" ></el-input>
        </el-form-item>
        <el-form-item :label="$t('thing.model.sid')" prop="sid" style="width:100%">
          <el-select
                  v-model="form.sid"
                  filterable
                  default-first-option
                  multiple
                  :multiple-limit="1"
                  remote
                  placeholder="Secret number"
                  :remote-method="fetchSids"
                  :loading="sidLoading">
            <el-option
                    v-for="item in sidOptions"
                    :key="item._id"
                    :disabled="item.ref"
                    :label="item._id"
                    :value="item._id">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item :label="$t('thing.model.peopleFav')">
          <el-switch
                  v-model="form.peopleFav"
                  :active-text="$t('confirm.yes')"
                  :inactive-text="$t('confirm.no')">
          </el-switch>
        </el-form-item>

        <el-form-item label="Cover" prop="formcover">
          <uploader
                  :model="form.coverImage"
                  :compress="true"
                  :is-cover="true"
                  :id="'commoncover'"></uploader>
        </el-form-item>

        <el-form-item label="Common images" prop="formimages">
          <uploader
                  :model="form.images"
                  :compress="true"
                  :id="'common'"></uploader>
        </el-form-item>

        <el-form-item label="Panel" prop="formpanel">
          <uploader
                  :model="form.panel"
                  :is-panel="true"
                  :compress="true"
                  :id="'common2'"></uploader>
        </el-form-item>

        <el-form-item label="Album" prop="formalbum">
          <uploader
                  :model="form.album"
                  :compress="false"
                  :id="'common3'"></uploader>
        </el-form-item>

        <el-form-item :label="$t('thing.model.cover')" prop="coverImage">
          <div v-if="form.coverImage && form.coverImage.length>0"
               v-bind:style="{ backgroundImage: 'url(/images/'+form.coverImage[0].url+')'}"
               class="img"></div>
          <div v-else class="noimg">
            No cover set yet
          </div>
        </el-form-item>
        <!--<el-form-item :label="$t('thing.model.cover')" prop="cover">-->
          <!--<el-select-->
                  <!--v-model="form.coverImage"-->
                  <!--default-first-option-->
                  <!--placeholder="Please enter a keyword"-->
                  <!--&gt;-->
            <!--<el-option-->
                    <!--v-for="item in allImages"-->
                    <!--:key="item._id"-->
                    <!--:label="item._id"-->
                    <!--:value="item._id">-->
              <!--<div-->
                   <!--v-bind:style="{ backgroundImage: 'url(/images/'+item.url+')'}"-->
                   <!--class="img"></div>-->

            <!--</el-option>-->
          <!--</el-select>-->
        <!--</el-form-item>-->

        <el-form-item :label="$t('thing.model.envType.label')">
          <el-radio-group v-model="form.envType">
            <el-radio-button label="l">{{$t('thing.model.envType.l')}}</el-radio-button>
            <el-radio-button label="m">{{$t('thing.model.envType.m')}}</el-radio-button>
            <el-radio-button label="h">{{$t('thing.model.envType.h')}}</el-radio-button>
          </el-radio-group>
        </el-form-item>
        <!--v-checker="{e:form.envType, v:form.commonEvaluationFlat, n:'commonEvaluationFlat', c:checkers.commonEvaluationFlat}"-->
        <el-form-item :label="$t('thing.model.commonEvaluationFlat')"
                      >
          <el-radio-group v-model="form.commonEvaluationFlat">
            <el-radio-button label="l">:(</el-radio-button>
            <el-radio-button label="m">:|</el-radio-button>
            <el-radio-button label="h">:)</el-radio-button>
          </el-radio-group>
        </el-form-item>
        <!--v-checker="{e:form.envType, v:form.commonEvaluationBuilding, n:'commonEvaluationBuilding', c:checkers.commonEvaluationBuilding}"-->
        <el-form-item :label="$t('thing.model.commonEvaluationBuilding')"
                     >
          <el-radio-group v-model="form.commonEvaluationBuilding">
            <el-radio-button label="l">:(</el-radio-button>
            <el-radio-button label="m">:|</el-radio-button>
            <el-radio-button label="h">:)</el-radio-button>
          </el-radio-group>
        </el-form-item>
        <!--v-checker="{e:form.envType, v:form.commonEvaluationBlock, n:'commonEvaluationBlock', c:checkers.commonEvaluationBlock}"-->
        <el-form-item :label="$t('thing.model.commonEvaluationBlock')"
                      >
          <el-radio-group v-model="form.commonEvaluationBlock">
            <el-radio-button label="l">:(</el-radio-button>
            <el-radio-button label="m">:|</el-radio-button>
            <el-radio-button label="h">:)</el-radio-button>
          </el-radio-group>
        </el-form-item>
        <!--v-checker="{e:form.envType, v:form.avgCost, n:'avgCost', c:checkers.avgCost}"-->
        <el-form-item :label="$t('thing.model.avgCost.label')"
                      >
          <el-radio-group v-model="form.avgCost">
            <el-radio-button :label="null">{{$t('thing.model.avgCost.no')}}</el-radio-button>
            <el-radio-button label="l">{{$t('thing.model.avgCost.l')}}</el-radio-button>
            <el-radio-button label="m">{{$t('thing.model.avgCost.m')}}</el-radio-button>
            <el-radio-button label="h">{{$t('thing.model.avgCost.h')}}</el-radio-button>
          </el-radio-group>
        </el-form-item>

        <el-tabs type="card">

          <!--SUB 1-->
          <el-tab-pane>
            <span slot="label">{{$t('thing.model.sub1.label')}}</span>
            <div class="box-card" v-for="(subitem, index) in [form.sub1[0].item]"
                     style="width: calc(100% - 1rem);"
                     :key="subitem.id">
              <!--<div slot="header" class="clearfix">-->
                <!--<span>{{$t('thing.model.variant')}} {{index+1}}</span>-->
                <!--<el-button v-if="index>0" style="float: right; padding: 3px 0" type="text" @click="removeSubItem(form.sub1[0], subitem)">-->
                  <!--<i class="el-icon-delete"></i>-->
                <!--</el-button>-->
              <!--</div>-->

                <el-form ref="form" class="rightvalueform" :model="subitem" label-width="49%" label-position="left">
                  <el-form-item :label="$t('thing.emptySubproject')">
                    <el-checkbox v-model="subitem.unsubmitted"></el-checkbox>
                  </el-form-item>
                  <div v-if="!subitem.unsubmitted">
                    <el-form-item :label="$t('thing.model.commonEvaluation.label')" >
                      <el-radio-group v-model="subitem.commonEvaluation">
                        <el-radio-button label="l">{{$t('thing.model.commonEvaluation.l')}}</el-radio-button>
                        <el-radio-button label="m">{{$t('thing.model.commonEvaluation.m')}}</el-radio-button>
                        <el-radio-button label="h">{{$t('thing.model.commonEvaluation.h')}}</el-radio-button>
                      </el-radio-group>
                    </el-form-item>
                    <el-form-item :label="$t('thing.model.sub1.area')"
                                  v-checker="{e:form.envType, v:subitem.area, n:'area', c:checkers.area}">
                      <el-input-number v-model="subitem.area" :step="0.1" :min="0" size="small"></el-input-number>
                    </el-form-item>
                    <el-form-item :label="$t('thing.model.sub1.length')">
                      <el-input-number v-model="subitem.length" :step="0.1" :min="0" size="small"></el-input-number>
                    </el-form-item>
                    <el-form-item :label="$t('thing.model.sub1.height')">
                        <el-slider
                                range
                                :max="30"
                                v-model="subitem.height"
                        >
                        </el-slider>
                    </el-form-item>
                    <el-form-item :label="$t('thing.model.sub1.developedPercent')">
                      <el-input-number v-model="subitem.developedPercent" :step="0.1" :min="0" size="small"></el-input-number>
                      <!--<el-slider-->
                              <!--v-model="subitem.developedPercent"-->
                              <!--show-input>-->
                      <!--</el-slider>-->
                    </el-form-item>
                    <el-form-item :label="$t('thing.model.sub1.dens')">
                      <el-input-number v-model="subitem.dens" :step="0.1" :min="0" size="small"></el-input-number>
                    </el-form-item>
                    <!--<el-form-item :label="$t('thing.model.sub1.open')">-->
                      <!--<el-slider-->
                              <!--v-model="subitem.open"-->
                              <!--show-input>-->
                      <!--</el-slider>-->
                    <!--</el-form-item>-->
                    <el-form-item :label="$t('thing.model.sub1.commers')">
                      <el-input-number v-model="subitem.commers" :step="0.1" :min="0" size="small"></el-input-number>
                    </el-form-item>
                    <el-form-item :label="$t('thing.model.sub1.parking')">
                      <el-input-number v-model="subitem.parking" :step="1" :min="0" size="small"></el-input-number>
                    </el-form-item>
                    <el-form-item :label="$t('thing.model.sub1.population')">
                      <el-input-number v-model="subitem.population" :step="1" :min="0" size="small"></el-input-number>
                    </el-form-item>

                    <el-form-item :label="$t('thing.model.sub1.edu')">
                      <el-switch
                              v-model="subitem.edu"
                              :active-text="$t('confirm.yes')"
                              :inactive-text="$t('confirm.no')">
                      </el-switch>
                    </el-form-item>
                  </div>
                  <!--<el-form-item :label="$t('thing.model.images')">-->
                    <!--<uploader-->
                            <!--:model="subitem.images"-->
                            <!--v-on:setcover="setCover"-->
                            <!--:current-cover="form.coverImage"-->
                            <!--:id="'q1'"></uploader>-->
                  <!--</el-form-item>-->
              </el-form>
            </div>
            <!--<div style="margin:0.5rem">-->
              <!--<el-button  icon="el-icon-circle-plus-outline" style="width:100%" @click="addSubItem(form.sub1[0])">Добавить вариант</el-button>-->
            <!--</div>-->
          </el-tab-pane>

          <!-- SUB 2 -->
          <el-tab-pane>
            <span slot="label"><i class="el-icon-remove-outline tab-icon"></i>{{$t('thing.model.sub2.label') }} </span>

            <el-tabs v-model="activeSub2" >
              <!--@tab-click="handleClick"-->
              <el-tab-pane  :name="'as2'+sub.id" v-for="sub in form.sub2" :key="sub.id">
                <span slot="label">{{$t('thing.model.sub2.'+form.envType+'.'+sub.id)}}</span>

                <div class="box-card" v-for="(subitem, index) in [sub.item]"
                         style="width: calc(100% - 1rem);"
                         :key="subitem.id">
                  <!--<div slot="header" class="clearfix">-->
                    <!--<span>{{$t('thing.model.variant')}} {{index+1}}</span>-->
                    <!--<el-button v-if="index>0" style="float: right; padding: 3px 0" type="text" @click="removeSubItem(sub, subitem)">-->
                      <!--<i class="el-icon-delete"></i>-->
                    <!--</el-button>-->
                  <!--</div>-->
                  <el-form ref="form" class="rightvalueform" :model="subitem" label-width="49%" label-position="left">
                    <el-form-item :label="$t('thing.emptySubproject')">
                      <el-checkbox v-model="subitem.unsubmitted"></el-checkbox>
                    </el-form-item>
                    <div v-if="!subitem.unsubmitted">
                      <el-form-item :label="$t('thing.model.commonEvaluation.label')" >
                        <el-radio-group v-model="subitem.commonEvaluation">
                          <el-radio-button label="l">{{$t('thing.model.commonEvaluation.l')}}</el-radio-button>
                          <el-radio-button label="m">{{$t('thing.model.commonEvaluation.m')}}</el-radio-button>
                          <el-radio-button label="h">{{$t('thing.model.commonEvaluation.h')}}</el-radio-button>
                        </el-radio-group>
                      </el-form-item>

                      <el-form-item :label="$t('thing.model.sub2.buildingHeight')">
                        <el-input-number v-model="subitem.buildingHeight" :step="1" :min="0" size="small"></el-input-number>
                      </el-form-item>
                      <el-form-item :label="$t('thing.model.sub2.liveArea')">
                        <el-input-number v-model="subitem.liveArea" :step="0.1" :min="0" size="small"></el-input-number>
                      </el-form-item>
                      <el-form-item :label="$t('thing.model.sub2.flatArea')">
                        <el-input-number v-model="subitem.flatArea" :step="0.1" :min="0" size="small"></el-input-number>
                      </el-form-item>
                      <el-form-item :label="$t('thing.model.sub2.buildingArea')">
                        <el-input-number v-model="subitem.buildingArea" :step="0.1" :min="0" size="small"></el-input-number>
                      </el-form-item>
                      <!--<el-form-item :label="$t('thing.model.sub2.baseArea')">-->
                        <!--<el-input-number v-model="subitem.baseArea" :step="0.1" :min="0" size="small"></el-input-number>-->
                      <!--</el-form-item>-->
                      <!--<el-form-item :label="$t('thing.model.sub2.frontArea')">-->
                        <!--<el-input-number v-model="subitem.frontArea" :step="0.1" :min="0" size="small"></el-input-number>-->
                      <!--</el-form-item>-->
                      <!--<el-form-item :label="$t('thing.model.sub2.glassArea')">-->
                        <!--<el-input-number v-model="subitem.glassArea" :step="0.1" :min="0" size="small"></el-input-number>-->
                      <!--</el-form-item>-->

                      <el-form-item :label="$t('thing.model.sub2.k1')">
                        <el-input-number v-model="subitem.k1" :step="0.1" :min="0" size="small"></el-input-number>
                      </el-form-item>
                      <el-form-item :label="$t('thing.model.sub2.k2')">
                        <el-input-number v-model="subitem.k2" :step="0.1" :min="0" size="small"></el-input-number>
                      </el-form-item>
                      <el-form-item :label="$t('thing.model.sub2.k3')">
                        <el-input-number v-model="subitem.k3" :step="0.1" :min="0" size="small"></el-input-number>
                      </el-form-item>
                      <el-form-item :label="$t('thing.model.sub2.k4')">
                        <el-input-number v-model="subitem.k4" :step="0.1" :min="0" size="small"></el-input-number>
                      </el-form-item>
                      <el-form-item :label="$t('thing.model.sub2.k5')">
                        <el-input-number v-model="subitem.k5" :step="0.1" :min="0" size="small"></el-input-number>
                      </el-form-item>


                      <el-form-item :label="$t('thing.model.sub2.m2price')">
                        <el-input-number v-model="subitem.m2price" :step="0.1" :min="0" size="small"></el-input-number>
                      </el-form-item>
                      <!--<el-form-item :label="$t('thing.model.sub2.celHeight')">-->
                        <!--<el-input-number v-model="subitem.celHeight" :step="0.1" :min="0" size="small"></el-input-number>-->
                      <!--</el-form-item>-->
                      <el-form-item :label="$t('thing.model.sub2.floorArea')">
                        <el-input-number v-model="subitem.floorArea" :step="0.1" :min="0" size="small"></el-input-number>
                      </el-form-item>
                      <el-form-item :label="$t('thing.model.sub2.flatsQty')">
                        <!--<el-input-number range v-model="subitem.flatsQty" :step="1" :min="0" size="small"></el-input-number>-->
                        <el-slider
                                range
                                :max="30"
                                v-model="subitem.flatsQty"
                                >
                        </el-slider>
                      </el-form-item>
                      <el-form-item :label="$t('thing.model.sub2.doubleOriented')">
                        <el-switch
                                v-model="subitem.doubleOriented"
                                :active-text="$t('confirm.yes')"
                                :inactive-text="$t('confirm.no')">
                        </el-switch>
                        <!--<el-input-number v-model="subitem.doubleOriented" :step="0.1" :min="0" size="small"></el-input-number>-->
                        <!--<el-slider-->
                                <!--v-model="subitem.doubleOriented"-->
                                <!--show-input>-->
                        <!--</el-slider>-->
                      </el-form-item>




                      <!--<el-form-item :label="$t('thing.model.sub2.drainage')">-->
                        <!--<el-switch-->
                                <!--v-model="subitem.drainage"-->
                                <!--:active-text="$t('confirm.good')"-->
                                <!--:inactive-text="$t('confirm.bad')">-->
                        <!--</el-switch>-->
                      <!--</el-form-item>-->
                      <el-form-item :label="$t('thing.model.sub2.elevatorsQty')">
                        <el-input-number v-model="subitem.elevatorsQty" :step="1" :min="0" size="small"></el-input-number>
                      </el-form-item>
                      <!--<el-form-item :label="$t('thing.model.sub2.heavyElevator')">-->
                        <!--<el-switch-->
                                <!--v-model="subitem.heavyElevator"-->
                                <!--:active-text="$t('confirm.yes')"-->
                                <!--:inactive-text="$t('confirm.no')">-->
                        <!--</el-switch>-->
                      <!--</el-form-item>-->
                      <el-form-item :label="$t('thing.model.sub2.concierge')">
                        <el-switch
                                v-model="subitem.concierge"
                                :active-text="$t('confirm.yes')"
                                :inactive-text="$t('confirm.no')">
                        </el-switch>
                      </el-form-item>
                      <el-form-item :label="$t('thing.model.sub2.transEntrance')">
                        <el-switch
                                v-model="subitem.transEntrance"
                                :active-text="$t('confirm.yes')"
                                :inactive-text="$t('confirm.no')">
                        </el-switch>
                      </el-form-item>
                      <el-form-item :label="$t('thing.model.sub2.storage')">
                        <el-switch
                                v-model="subitem.storage"
                                :active-text="$t('confirm.yes')"
                                :inactive-text="$t('confirm.no')">
                        </el-switch>
                      </el-form-item>
                      <el-form-item :label="$t('thing.model.sub2.sharedSpaces')">
                        <el-switch
                                v-model="subitem.sharedSpaces"
                                :active-text="$t('confirm.yes')"
                                :inactive-text="$t('confirm.no')">
                        </el-switch>
                      </el-form-item>
                      <!--<el-form-item :label="$t('thing.model.images')">-->
                        <!--<uploader :model="subitem.images"-->
                                  <!--v-on:setcover="setCover"-->
                                  <!--:current-cover="form.coverImage"-->
                                  <!--:id="'q2_'+sub.id+'_'+subitem.id"></uploader>-->
                      <!--</el-form-item>-->
                    </div>
                  </el-form>
                </div>
                <!--<div style="margin:0.5rem">-->
                  <!--<el-button  icon="el-icon-circle-plus-outline" style="width:100%" @click="addSubItem(sub)">Добавить вариант</el-button>-->
                <!--</div>-->
              </el-tab-pane>
            </el-tabs>
          </el-tab-pane>


          <!-- SUB 3 -->
          <el-tab-pane>
            <span slot="label">
              <i class="el-icon-remove-outline tab-icon"></i>{{$t('thing.model.sub3.label')}}</span>
            <el-tabs v-model="activeSub3">
              <!--@tab-click="handleClick"-->
              <el-tab-pane  :name="'as3'+sub.id" v-for="sub in form.sub3" :key="sub.id">
                <span slot="label">{{$t('thing.model.sub3.'+sub.id)}}</span>
                <!--<span slot="label">{{$t('thing.model.sub2.'+form.envType+'.'+sub.id) + ' ('+sub.items.length+')'}}</span>-->
                <div class="box-card" v-for="(subitem, index) in [sub.item]"
                         style="width: calc(100% - 1rem);"
                         :key="subitem.id">
                  <!--<div slot="header" class="clearfix">-->
                    <!--<span>Вариант {{index+1}}</span>-->
                    <!--<el-button  style="float: right; padding: 3px 0" type="text" @click="removeSubItem(sub, subitem)">-->
                      <!--<i class="el-icon-delete"></i>-->
                    <!--</el-button>-->
                  <!--</div>-->
                  <el-form ref="form" class="rightvalueform" :model="subitem" label-width="49%" label-position="left">
                    <el-form-item :label="$t('thing.emptySubproject')">
                      <el-checkbox v-model="subitem.unsubmitted"></el-checkbox>
                    </el-form-item>
                    <div v-if="!subitem.unsubmitted">
                      <el-form-item :label="$t('thing.model.commonEvaluation.label')" >
                        <el-radio-group v-model="subitem.commonEvaluation">
                          <el-radio-button label="l">{{$t('thing.model.commonEvaluation.l')}}</el-radio-button>
                          <el-radio-button label="m">{{$t('thing.model.commonEvaluation.m')}}</el-radio-button>
                          <el-radio-button label="h">{{$t('thing.model.commonEvaluation.h')}}</el-radio-button>
                        </el-radio-group>
                      </el-form-item>

                      <el-form-item :label="$t('thing.model.sub3.area')">
                        <el-input-number v-model="subitem.area" :step="0.1" :min="0" size="small"></el-input-number>
                      </el-form-item>
                      <el-form-item :label="$t('thing.model.sub3.liveArea')">
                        <el-input-number v-model="subitem.liveArea" :step="0.1" :min="0" size="small"></el-input-number>
                      </el-form-item>

                      <!--<el-form-item :label="$t('thing.model.sub3.windows')">-->
                        <!--<el-switch-->
                                <!--v-model="subitem.windows"-->
                                <!--:active-text="$t('confirm.yes')"-->
                                <!--:inactive-text="$t('confirm.no')">-->
                        <!--</el-switch>-->
                      <!--</el-form-item>-->
                      <!--<el-form-item :label="$t('thing.model.sub3.balcony')">-->
                        <!--<el-switch-->
                                <!--v-model="subitem.balcony"-->
                                <!--:active-text="$t('confirm.yes')"-->
                                <!--:inactive-text="$t('confirm.no')">-->
                        <!--</el-switch>-->
                      <!--</el-form-item>-->
                      <!--<el-form-item :label="$t('thing.model.sub3.balconyGlass')">-->
                        <!--<el-switch-->
                                <!--v-model="subitem.balconyGlass"-->
                                <!--:active-text="$t('confirm.yes')"-->
                                <!--:inactive-text="$t('confirm.no')">-->
                        <!--</el-switch>-->
                      <!--</el-form-item>-->
                      <!--<el-form-item :label="$t('thing.model.sub3.rightShape')">-->
                        <!--<el-switch-->
                                <!--v-model="subitem.rightShape"-->
                                <!--:active-text="$t('confirm.yes')"-->
                                <!--:inactive-text="$t('confirm.no')">-->
                        <!--</el-switch>-->
                      <!--</el-form-item>-->
                      <!--<el-form-item :label="$t('thing.model.images')">-->
                        <!--<uploader :model="subitem.images"-->
                                  <!--v-on:setcover="setCover"-->
                                  <!--:current-cover="form.coverImage"-->
                                  <!--:id="'q3_'+sub.id+'_'+subitem.id"></uploader>-->
                      <!--</el-form-item>-->
                    </div>
                  </el-form>

                </div>
                <!--<div style="margin:0.5rem">-->
                  <!--<el-button  icon="el-icon-circle-plus-outline" style="width:100%" @click="addSubItem(sub)">Добавить вариант</el-button>-->
                <!--</div>-->
              </el-tab-pane>

            </el-tabs>
          </el-tab-pane>

        </el-tabs>
      </el-form>


      <span slot="footer" class="dialog-footer">
        <el-button @click.native="cancelForm">{{$t('confirm.cancel')}}</el-button>
        <el-button type="primary" @click.native="saveForm">{{$t('confirm.ok')}}</el-button>
      </span>
    </el-dialog>
  </content-module>
</template>
<script>
import { thing as thingRes, sid as sidRes, checkers as checkersRes } from 'resources'
import locales from 'locales/things'
import Uploader from '../components/Uploader.vue'
import store from '../store'
import * as _ from 'lodash'
var defaultSub1Item = { images:[]};
var defaultSub2Item = { images:[]};
var defaultSub3Item = { images:[]};
var defaultForm = {
  envType:'m',
  commonEvaluationFlat:null,
  commonEvaluationBlock:null,
  commonEvaluationBuilding:null,
  avgCost:null,
  sid:[],
  coverImage:[],
  images:[],
  panel:[],
  album:[],
  sub1:[
    {
      id:'0',
      item:_.cloneDeep(defaultSub1Item)//_.assign(_.cloneDeep(defaultSub1Item), {id:'0'})
    }
  ],
  sub2:[
    {
      id:'0',
      item:_.cloneDeep(defaultSub1Item)//_.assign(_.cloneDeep(defaultSub2Item), { id:'0'})
    },
    {
      id:'1',
      item:_.cloneDeep(defaultSub2Item)//_.assign(_.cloneDeep(defaultSub2Item), { id:'1'})
    },
    {
      id:'2',
      item:_.cloneDeep(defaultSub3Item)//_.assign(_.cloneDeep(defaultSub2Item), { id:'2'})
    }
  ],
  sub3:[
    {
      id:'0',
      item:_.cloneDeep(defaultSub1Item)
    },
    {
      id:'1',
      item:_.cloneDeep(defaultSub1Item)
    },
    {
      id:'2',
      item:_.cloneDeep(defaultSub1Item)
    },
    {
      id:'3',
      item:_.cloneDeep(defaultSub1Item)
    },
    {
      id:'4',
      item:_.cloneDeep(defaultSub1Item)
    }
  ],
}
export default {
  locales,
  components:{
    Uploader
  },
  data () {
    return {
      currentPage:1,
      pageSize:30,
      total:0,
      headers: {
        'Authorization':`Bearer ${store.getters.accessToken}`
      },
      checkers: {},
      sidLoading:false,
      sidOptions:[],
      formVisible: false,
      activeSub2: 'as20',
      activeSub3: 'as30',
      form: _.cloneDeep(defaultForm),
      rules: {
        pid: [
          { required: true, message: this.$t('thing.rules.requiredField'), trigger: 'change' }
        ],
        sid: [
          { required: true, message: this.$t('thing.rules.requiredField'), trigger: 'change' }
        ],
        name: [
          { required: true, message: 'Please input Activity name', trigger: 'blur' },
          { min: 3, max: 5, message: 'Length should be 3 to 5', trigger: 'blur' }
        ],
        region: [
          { required: true, message: 'Please select Activity zone', trigger: 'change' }
        ],
        date1: [
          { type: 'date', required: true, message: 'Please pick a date', trigger: 'change' }
        ],
        date2: [
          { type: 'date', required: true, message: 'Please pick a time', trigger: 'change' }
        ],
        type: [
          { type: 'array', required: true, message: 'Please select at least one activity type', trigger: 'change' }
        ],
        resource: [
          { required: true, message: 'Please select activity resource', trigger: 'change' }
        ],
        desc: [
          { required: true, message: 'Please input activity form', trigger: 'blur' }
        ]
      },
      things: [],
      deletedSub3:null
    }
  },
  watch: {

    'form.envType' (val, nval) {

      let index = -1;
      _.each(this.form.sub2, (item, _index) => {
        if(item.id === '3'){
          index = _index;
        }
        return;
      });

      console.log('W', val, index, JSON.stringify(this.form.sub2));
      if(val==='l') {
        if(index<0){
          if(this.deletedSub3){
            this.form.sub2.push(this.deletedSub3[0])
          }else{
            this.form.sub2.push({
              id:'3',
              item:_.cloneDeep(defaultSub1Item)
            })
          }
        }
      } else {
        if(index>=0){
          this.deletedSub3 = this.form.sub2.splice(index, 1)
        }
      }
    }
  },
  computed:{
    allImages: function(){
      var allImgs =  _.map(['1','2','3'], (count)=>{
        return _.map(this.form['sub'+count], (sub)=>{
          return sub.item.images;
        })
      })
      return _.flattenDeep(allImgs);
    }
  },
  methods: {
    refreshData(){
      this.$forceUpdate()
    },
    addSubItem(sub){
      var nid = Math.random().toString(36).substring(7);
//      while(_.find(sub.items, {id:nid})){
//        nid = Math.random().toString(36).substring(7);
//      }
      sub.item = {images:[]}
    },
    removeSubItem(sub, item){
      sub.item = {}
    },
    fetchSids(query){
      this.sidLoading = true;
      sidRes.query({search:query}).then(data => data.json()).then(data => {
        console.log('! data', data)
        this.sidLoading = false;
        if (data && data.results){
          this.sidOptions = data.results
        }

      })
    },
    fetchCheckers(){
      checkersRes.query().then(data => data.json()).then(data => {
        if (data && data.results){
          this.checkers = _.transform(data.results, (total, item) => {
            total[item._id] = item;
            return true;
          }, {})
          console.log('CHECKERS ', this.checkers, data.results)
        }

      })
    },
    handleTabsEdit(targetName, action) {
      if (action === 'add') {
        let newTabName = ++this.tabIndex + '';
        this.editableTabs.push({
          title: 'New Tab',
          name: newTabName,
          content: 'New Tab content'
        });
        this.editableTabsValue = newTabName;
      }
      if (action === 'remove') {
        let tabs = this.editableTabs;
        let activeName = this.editableTabsValue;
        if (activeName === targetName) {
          tabs.forEach((tab, index) => {
            if (tab.name === targetName) {
              let nextTab = tabs[index + 1] || tabs[index - 1];
              if (nextTab) {
                activeName = nextTab.name;
              }
            }
          });
        }

        this.editableTabsValue = activeName;
        this.editableTabs = tabs.filter(tab => tab.name !== targetName);
      }
    },
    handleRemove(file, fileList) {
      console.log('handleRemove', file, fileList);
    },
    handlePreview(file) {
      console.log('handlePreview', file);
    },
    fetch (currentPage) {
      if(+currentPage >= 0){
        this.currentPage = +currentPage
      }
      thingRes.query({page: this.currentPage - 1, count: this.pageSize}).then(data => data.json()).then(data => {
        this.things = data.results
        this.total = data.total
      }).catch(err => {
        console.error(err)
      })
    },
    createThing () {
      this.formVisible = true
    },
    cancelForm () {
      this.clearForm()
      this.formVisible = false
    },
    saveForm () {
      this.$refs.thing.validate(valid => {
        if (valid) {
          let promise
          let data = JSON.parse(JSON.stringify(this.form))
          data.sid = data.sid[0];
          if (this.form._id) {
            promise = thingRes.update({ _id: this.form._id }, data)
          } else {
            promise = thingRes.save({}, data)
          }
          promise.then(() => {
            this.cancelForm()
            this.$message({
              type: 'success',
              message: this.form._id ? this.$t('message.updated') : this.$t('message.created')
            })
            this.fetch()
          }).catch(() => {})
        } else {
          this.$message({
            type: 'warning',
            message: this.$t('message.formErrors')
          })
        }
      })
    },
    editThing (thing) {
      console.log('edit', thing)
      this.clearForm();
      Object.assign(this.form, _.cloneDeep(thing))
      if (!this.form.cover) {
        this.form.cover = [];
      }
      this.form.sid = [this.form.sid];
      this.formVisible = true
    },
    deleteThing (thing) {
      this.$confirm(`This action will remove the selected work: ${thing.pid} forever, still going on?`, this.$t('confirm.title'), {
        type: 'warning'
      }).then(() => {
        thingRes.delete({ _id: thing._id }).then(() => {
          this.$message({
            type: 'success',
            message: this.$t('message.removed')
          })
          this.fetch()
        })
      }).catch(() => {})
    },
    clearForm(){
      this.form = _.cloneDeep(defaultForm)
    },
    handleClose(done){
      this.clearForm()
      done()
    },
    setModel(a, b){
//      console.log('AAA', a, b, c)
      this[b] = a
    }
  },
  created () {
    this.fetch()
    this.fetchCheckers()
  }
}
</script>
<style lang="stylus" scoped>
@import "../assets/css/variable"
.listcover
  width 140px
  height 140px
  position relative
  background-size cover
  background-position center center
  background-repeat no-repeat
  &.nocover
    vertical-align middle
    line-height 1rem
    display table-cell
    opacity 0.5
    text-align center

.img
  width 100px
  height 100px
  position relative
  background-color $color-gray
  background-size contain
  background-position center center
  background-repeat no-repeat

.noimg
  text-align center
  width 100px
  height 100px
  background-color $color-gray
  vertical-align middle
  line-height 1rem
  display table-cell
  opacity 0.5

.checker-good
  border-left: green solid 4px;
  box-sizing: content-box;
  margin-left: -8px;
  padding-left: 4px;

.checker-warn
  border-left: yellow solid 4px;
  box-sizing: content-box;
  margin-left: -8px;
  padding-left: 4px;

.checker-bad
  border-left: red solid 4px;
  box-sizing: content-box;
  margin-left: -8px;
  padding-left: 4px;

.rightvalueform
  .el-form-item
    text-align right
.tab-icon
  margin-right 6px
.box-card
  display inline-block
  margin .5rem
  .icon
    float right
    margin-left .5rem
    color $color-silver
    cursor pointer
    &:hover
      color $color-primary
</style>
