<template>
  <!--<el-container>-->
    <!--<el-header class="header-bg">Dom Competition 2018</el-header>-->

    <el-container>
      <el-header>
        <x-header :performance="this.performance">
          <!--<filter-button></filter-button>-->
        </x-header>
      </el-header>
      <el-main style="overflow-y: hidden">
        <div style="width:100%; display: flex;">
          <div v-for="(env, index) in envs"
               :key="env.id"
               class="env-tab clickable"
               :class="{
                 'selected': selectedEnv === env.id,
                  'last': index === envs.length - 1,
                  'first': index === 0,
                  'h': env.id === 'h',
                  'm': env.id === 'm',
                  'l': env.id === 'l',
                  'search': env.id === 'search'
               }"
               @click="selectEnv(env)"
               style="flex:1; width:100%">
            <div v-if="env.id==='search'">
              <i class="el-icon-search"></i>
            </div>
            <div v-else>
              {{$t('thing.model.envType.'+env.id)}}
              <span v-if="selectedEnv === env.id" :style="{'margin-left':sortByLike?'10px':'0px', 'margin-right':sortByLike?'0px':'10px'}">
                <i :class="sortByLike?'el-icon-sort-down':'el-icon-sort-up'" ></i>
              </span>

            </div>
          </div>
        </div>
        <content-module name="things" style="overflow-y: scroll; height: 100%; padding: 20px; padding-bottom: 60px; box-sizing: border-box" :class="'bgcolor-'+selectedEnv" id="scrollcont">
          <div v-if="selectedEnv==='search'" class="search-input-container">
            <input type="text"
                   v-model.trim="searchPid"
                   name="lname"
                   class="search-input"
                   :placeholder="$t('thing.searchByIdPlaceholder')">
          </div>
          <el-row :gutter="20" style="padding-bottom: 60px;" >
            <el-col :span="6" v-for="thing in things" :key="thing._id">
              <el-card :body-style="{ padding: '0px'}"
                       class="box-card clickable"
                       @click.native="openTheWork(thing._id)">
                <div :style="{opacity: (thing.myVote===1 || thing.myVote===0) ? '0.5' : '1'}">
                  <div v-if="thing.coverImage && thing.coverImage.length>0"
                    :style="{
                      backgroundImage: 'url(/images/'+thing.coverImage[0].url+')',
                    }"
                    class="listcover"></div>
                  <div v-else class="listcover nocover">
                    <div class="centertext">
                      No cover set yet
                    </div>

                  </div>
                </div>
                <div v-if="search.envType==='search'" class="like-sign" :class="thing.envType"></div>
                <!--<div v-else-if="thing.myVote===0" class="like-sign bad"></div>-->
                <div class="card-footer" :class="{good: thing.myVote===1, bad: thing.myVote===0}">
                  <span>

                    <span class="icon-area">
                      <simple-svg
                              v-if="thing.peopleFav"
                              :filepath="'/static/icons/heart-outline.svg'"
                              fill="none"
                              :stroke="(thing.myVote === 1 || thing.myVote === 0)?'#ffffff':'#30454e'"
                              class="people-fav icon-area-item"
                              :width="'22px'"
                              :height="'22px'"
                      />

                    </span>
                    <div class="thing-item-likes">
                        <div v-if="thing.editorFav" class="thing-item-editor icon-area-item">
                          <i class="el-icon-star-off"></i>
                        </div>
                        <span class="thing-item-like-num">{{thing.score}}</span>
                    </div>
                    {{thing.pid}}
                  </span>
                </div>
              </el-card>
            </el-col>

          </el-row>
          <infinite-loading

                  @infinite="infiniteHandler"
                  ref="infiniteLoading"
                  spinner="waveDots">
            <span slot="no-more">

            </span>
          </infinite-loading>
        </content-module>




      </el-main>
    </el-container>
  <!--</el-container>-->

  <!--<div class="flex flex-1" style="width:100%">-->

  <!--</div>-->
</template>
<script>
  import XHeader from '../components/Header'
  import { mapGetters, mapActions } from 'vuex'
  import FilterButton from '../components/FilterButton.vue'
  import InfiniteLoading from 'vue-infinite-loading';
  import { thing as thingRes, user as userRes} from 'resources'
  import locales from 'locales/things'
  import store from '../store'
  import * as _ from 'lodash'
  import { EventBus } from '../eventbus.js';

  export default {
    locales,
    data () {
      return {
        sortByLike: false,
        performance:null,
        searchPid: null,
        distance: 0,
        envs:[
          {id:'l'},
          {id:'m'},
          {id:'h'},
          {id:'search'}
        ],
        selectedEnv: 'l',
        filters:[],
        currentPage: 0,
        pageSize: 120,
        search: {
          envType: 'l'
        },
        headers: {
          'Authorization':`Bearer ${store.getters.accessToken}`
        },
        things: [],
        debouncedScrollHandler: _.throttle(this.scrollHandler, 500)

      }
    },
    computed: {
      ...mapGetters([
        'userId',
        'globalConfig'
      ])
    },
    watch: {
      'searchPid': function(nv, ov){
        this.search.pid = nv;
        this.things = []
        this.currentPage = 0
        this.$nextTick(() => {
          this.$refs.infiniteLoading.$emit('$InfiniteLoading:reset');
        });
//        this.$nextTick(() => {
//        this.$refs.infiniteLoading.$emit('$InfiniteLoading:reset');
//        });
      }
    },
    components: {
      XHeader,
      FilterButton,
      InfiniteLoading
    },
    methods: {
//      fetch () {
//        thingRes.query({search: this.search, page: this.currentPage, count: this.pageSize})
//          .then(data => data.json())
//          .then(data => {
//            this.things = data.results
//          })
//          .catch(err => {
//            console.error(err)
//          })
//      },
      openTheWork(id){
        this.$router.push({ path: `/work/${id}` })
      },
      infiniteHandler: _.debounce(
        function($state){
          console.log('!')
          let srch = {};
          if (this.search.pid && this.search.pid.length>0) {
            srch.pid = this.search.pid;
          }
          if (this.search.envType && this.search.envType.length>0 && this.search.envType !== 'search') {
            srch.envType = this.search.envType;
          }
//          if(srch.envType === 'search'){
//            srch.envType = null;
//          }
//          if(!srch.pid || srch.pid === ''){
//             srch.pid = null;
//          }
          thingRes.query({search: srch, includeLikes: true, currentStage:this.search.envType !== 'search', page: this.currentPage, count: this.pageSize})
            .then(data => data.json())
            .then(data => {
              if (data.results && data.results.length) {

                this.things.push(...data.results);
                if(this.sortByLike){
                  this.things.sort((a, b) => {
                    return b.score-a.score
                  })
                }

                $state.loaded();
                if (data.results.length < this.pageSize){
                  $state.complete();
                }
              } else {
                console.log('no data')
                $state.complete();
              }
            })
            .catch(err => {
              console.error(err)
              $state.loaded();
            })
          this.currentPage++;
      }, 500),
      selectEnv(env){
        console.log('Select ENV')
        if(this.selectedEnv === env.id) {
          this.sortByLike = !this.sortByLike;
        } else {
          this.sortByLike = false;
        }
        this.selectedEnv = env.id
        this.search.envType = env.id
        this.search.pid = null;
        this.searchPid = null;
        this.things = []
        this.currentPage = 0
        this.$nextTick(() => {
          this.$refs.infiniteLoading.$emit('$InfiniteLoading:reset');
        });
      },
      fetchPerformance(){
        userRes.performance()
          .then((data) => {
            this.performance = data.body;
          })
      },
      scrollHandler(e){
        if(this.activated){
          const el = document.getElementById('scrollcont');
          this.distance = el.scrollTop
        }
      },
      onSearchByIdChanged(data){
        console.log('data ', data);
        this.search = {pid: 12}
      }
    },
    created () {

    },
    mounted () {
      this.$nextTick(() => {
        this.fetchPerformance()
      })
      EventBus.$on('thingVoted', (thingId, vote) => {
        let t = _.find(this.things, {_id: thingId});
        if(t){
          t.myVote = vote==='+' ? 1 : 0
          this.$forceUpdate()
        }
      })
    },
    activated () {
      const el = document.getElementById('scrollcont');
      this.activated = true;
      el.addEventListener('scroll', this.debouncedScrollHandler);
      el.scrollTo(0, this.distance);
    },
    deactivated () {
      this.activated = false;
    }
  }
</script>

<style lang="stylus" scoped>
  @import "../assets/css/variable"

  .icon-area
    position: absolute;
    left: 10px;
    bottom: 6px;
    height: 30px;
    display: flex;
    /*justify-content: flex-end;*/
  .icon-area-item
    /*width: 30px;*/
    margin-right 8px;
    text-align left


    align-items: center;
  .thing-item-likes
    right 10px
    display flex
    position: absolute;
    margin-top: -8px;
    line-height: 30px;
    vertical-align: middle;
    text-align center;
    /*justify-content flex-end*/

  .thing-item-editor
    display: inline;
    color: $aijk;
    font-size: 22px

  .people-fav
    padding-top: 2px;

  .thing-item-thumb
    display: inline-block
    padding-right: 4px;

  .thing-item-like-num
    vertical-align middle
    line-height 30px
    height: 30px
    right: 15px;
    padding: 0px 2px;

  .search-input-container
    width: 100%
    text-align center
    padding: 40px 0px;
  .search-input
    font-size 60px
    background-color: transparent;
    border: none;
    border-bottom: 2px solid $aijk;
    color: $aijk;
    font-weight 200;
    text-align: center;
    outline: none;
    margin auto
    width: 90%

  .el-main
    padding 10px 10px
  .like-sign
    position: absolute;
    top: -50px;
    right: -50px;
    width: 80px;
    height: 70px;
    color: #fff;
    transform: rotate(45deg);
    border: 2px solid rgba(255,255,255,0.9);
    &.h
        background-color $zone-h
    &.m
      background-color $zone-m
    &.l
      background-color $zone-l

  .clickable
    cursor: pointer

  .el-header
    padding 0px
    height 120px
  .header-bg
    text-align center
    height: 120px;
    line-height: 120px;
    /*background-size cover*/
    /*background-position 100%*/
    /*background-image url('../assets/images/bg1.gif')*/
  .box-card
    /*height 240px*/
    margin-bottom: 20px
    background-color transparent
    position: relative
  .icon
    float right
    margin-left .5rem
    color $color-silver
    cursor pointer
    &:hover
      color $color-primary

  .listcover
    width 100%
    height 200px
    position relative
    background-size cover
    background-position center center
    background-repeat no-repeat
    &.nocover
      vertical-align middle
      line-height 1rem
      width 100%
      background-color $color-gray-light
      display table
      .centertext
        text-align center
        display: table-cell;
        height: 100%;
        vertical-align: middle;



  .env-tab
    width: 100%
    flex: 1
    text-align center
    color white
    font-size 20px
    padding 20px
    background-color $color-gray
    &.search
      flex: none !important
      width: 30px !important;
      color $aijk
      &.selected
        color: white
        background-color $aijk
    &.h
      background-color $zone-h-light
      color $aijk
      /*opacity: 0.5*/
      &.selected
        background-color $zone-h
        color white
        /*opacity: 1*/
    &.m
      background-color $zone-m-light
      color $aijk
      /*opacity: 0.5*/
      &.selected
        background-color $zone-m
        color white
        /*opacity: 1*/
    &.l
      background-color $zone-l-light
      color $aijk
      /*opacity: 0.5*/
      &.selected
        background-color $zone-l
        color white
        /*opacity: 1*/
    &.first
      border-top-left-radius 10px
    &.last
      border-top-right-radius 10px
  .bgcolor-h
    background-color $zone-h
  .bgcolor-m
    background-color $zone-m
  .bgcolor-l
    background-color $zone-l

  .card-footer
    background-color white
    padding 14px
    text-align center
    color $aijk

  .good
    background-color $tz-good
    color white
  .bad
    background-color $tz-bad
    color white

</style>