<template>
    <el-container>
        <!--<div class="preview-img-list">-->
        <!--<img class="preview-img-item" v-for="(item, index) in items"-->
             <!--:src="item.src" @click="$photoswipe.open(index, items)">-->
    <!--</div>-->
      <el-header>
        <x-header :showback="true"></x-header>
      </el-header>
      <el-main :class="thing.envType">
        <content-module name="thing" style="height: 100%;">
            <el-container style="height: 100%;" id="thing-header">
                <el-header class="header" >

                    <el-row type="flex" align="middle">
                        <el-col :span="4" >
                            <el-button class="prev-next-button prev" type="text" @click="goToPrev">
                                <i class="el-icon-arrow-left prevnexticon" style="vertical-align: middle;"></i>
                                <span style="vertical-align: middle;">{{$t('vote.prev')}}</span>
                            </el-button>
                        </el-col>
                        <el-col :span="16">
                            <div style="">
                                <span class="header-number">{{$t('thing.projectNumber')}}</span>{{ thing.pid }}
                                <div class="fradio">
                                    <div class="frcont">
                                        <div class="b lb"
                                             :class="{active:thing.like==='+'}"
                                             @click="likeThing('+')">
                                            <simple-svg
                                                    :filepath="'/static/icons/n_like.svg'"
                                                    :fill="(thing.like !== '+')?'#79AD36':'#ffffff'"
                                                    stroke="none"
                                                    class="likeicon like"
                                                    :width="'16px'"
                                                    :height="'16px'"
                                                    :id="'custom-id'"
                                            />
                                            {{$t('vote.good')}}
                                        </div>
                                        <div class="b rb"
                                             :class="{active:thing.like==='-'}"
                                             @click="likeThing('-')">
                                            <simple-svg
                                                :filepath="'/static/icons/n_dislike.svg'"
                                                :fill="(thing.like !== '-')?'#CE181E':'#ffffff'"
                                                stroke="none"
                                                class="likeicon dislike"
                                                :width="'16px'"
                                                :height="'16px'"
                                                :id="'custom-id'"
                                                />
                                            {{$t('vote.bad')}}
                                        </div>

                                    </div>

                                </div>
                                <!--v-if="thing.peopleFav"-->
                                <div v-if="thing.peopleFav"
                                        style="display: flex;font-size: 16px;    float: right;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    line-height: 1px;
    padding-top: 7px;
    vertical-align: middle;">
                                    <simple-svg

                                            :filepath="'/static/icons/heart.svg'"
                                            fill="#ffffff"
                                            stroke="none"
                                            class="people-fav"
                                            :width="'24px'"
                                            :height="'24px'"
                                    />
                                    <div>
                                        {{$t('thing.model.peopleFav')}}
                                    </div>
                                </div>
                                <!--<el-radio-group v-model="thing.like" @change="likeThing" id="likeradio">-->
                                    <!--<el-radio-button class="vote-bad-button" label="-" name="-">-->
                                        <!--<div class="likebutton-container">-->
                                            <!--<div style="flex:1">-->
                                                <!--{{$t('vote.bad')}}-->
                                            <!--</div>-->
                                            <!--<div style="flex:1">-->
                                                <!--<simple-svg-->
                                                            <!--:filepath="'/static/icons/n_dislike.svg'"-->
                                                            <!--:fill="(thing.like !== '-')?'#CE181E':'#ffffff'"-->
                                                            <!--stroke="none"-->
                                                            <!--class="likeicon dislike"-->
                                                            <!--:width="'16px'"-->
                                                            <!--:height="'16px'"-->
                                                            <!--:id="'custom-id'"-->
                                                <!--/>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</el-radio-button>-->
                                    <!--<el-radio-button class="vote-good-button" label="+" name="+">-->
                                        <!--<div class="likebutton-container">-->
                                            <!--<div style="flex:1">-->
                                                <!--{{$t('vote.good')}}-->
                                            <!--</div>-->
                                            <!--<div style="flex:1">-->
                                                <!--<simple-svg-->
                                                            <!--:filepath="'/static/icons/n_like.svg'"-->
                                                            <!--:fill="(thing.like !== '+')?'#79AD36':'#ffffff'"-->
                                                            <!--stroke="none"-->
                                                            <!--class="likeicon like"-->
                                                            <!--:width="'16px'"-->
                                                            <!--:height="'16px'"-->
                                                            <!--:id="'custom-id2'"-->
                                                <!--/>-->
                                            <!--</div>-->
                                        <!--</div>-->

                                    <!--</el-radio-button>-->
                                <!--</el-radio-group>-->

                            </div>
                        </el-col>
                        <el-col :span="4">
                            <el-button class="prev-next-button next"  type="text" @click="goToNext">
                                <span style="vertical-align: middle;">{{$t('vote.next')}}</span>
                                <i class="el-icon-arrow-right prevnexticon" style="vertical-align: middle;"></i></el-button>
                        </el-col>
                    </el-row>
                </el-header>
            <el-container >



                <el-main style="padding: 0px 10px 10px 10px" id="thingpage" >
                    <el-tabs v-model="activeVariant"
                             @tab-click="handleNodeClick"
                             style="min-height: 100%"
                             type="border-card"
                             >
                        <el-tab-pane
                                     v-for="tab in tabs"
                                     :key="tab.id"
                                     style="min-height: 100%"
                                     :label="$t(tab.label)"
                                     :name="tab.id">

                            <thing-details :data="tab"
                                           v-if="thing._id"
                                           :checkers="checkers"
                                           @opengallery="openGalley"
                                           :envType="thing.envType"
                            ></thing-details>

                        </el-tab-pane>
                    </el-tabs>
                </el-main>

            </el-container>

            </el-container>

        </content-module>
      </el-main>
    </el-container>
    <!--<el-tabs tab-position="left">-->
    <!--<el-tab-pane :label="variant.dynamicLabel" v-for="variant in variants">-->
    <!--={{variant}}=-->
    <!--</el-tab-pane>-->

    <!--</el-tabs>-->
    <!--<div>User {{ $route.params.id }}</div>-->
  <!--<div class="flex flex-1" style="width:100%">-->
  <!--</div>-->
</template>
<script>
    import Promise from 'bluebird'
  import XHeader from '../components/Header'
  import ThingDetails from '../components/thing-details'
  import { thing as thingRes} from 'resources'
  import locales from 'locales/things'
  import store from '../store'
  import * as _ from 'lodash'
  import VueGallery from 'vue-gallery';
  import panzoom from 'panzoom'
  import { checkerToNumber } from '../shared/checker-helper'
  import { checkers as checkersRes } from 'resources'
  import { EventBus } from '../eventbus.js';
  
  export default {
    locales,
    data () {
      return {
        checkers:{},
        galleryIndex: null,
        galleryImages: [],
        zoomInstance: null,
        galleryOptions:{
          closeOnSlideClick:false,
          closeOnSwipeUpOrDown:false,
//          stopTouchEventsPropagation: true,
          disableScroll: true,
        },
        tabs:[
          {
            id:'common',
            label: 'thing.details.tabs.common',
            data:[]
          },
          {
            id:'panel',
            label: 'thing.details.tabs.panel',
            data:[]
          },
          {
            id:'album',
            label: 'thing.details.tabs.album',
            data:[]
          },
          {
            id:'data',
            label: 'thing.details.tabs.data',
            data:[]
          }

        ],
        activeVariant:'common',
        defaultProps: {
          children: 'children',
          label: 'label'
        },
        headers: {
          'Authorization':`Bearer ${store.getters.accessToken}`
        },
        thing: {},
        variants: [],
        selectedItem: {}
      }
    },
    components: {
      XHeader,
      ThingDetails,
      'gallery': VueGallery,

    },
    methods: {
      fetch (tid) {
        thingRes.query({_id: tid || this.$route.params.id})
          .then(data => data.json())
          .then((data) => {
          console.log('PRE FC')
            return this.fetchCheckers()
              .then(()=>{
                return data;
              })
          })
          .then(data => {
            console.log('POST FC')
            console.log('thing', data)
            this.thing = data

            var tableData = []
              _.each([
              {id:'sub1', label:'Квартал'},
              {id:'sub2', label:'Здание', subItems:{
                '0':'Малоквартирный жилой дом',
                '1':'Секция с центральном доступом',
                '2':'Секция с галерейным типом доступа',
              }},
              {id:'sub3', label:'Квартира', subItems:{
                '0':'Студия',
                '1':'1 комната',
                '2':'2 комнаты',
                '3':'3 комнаты',
                '4':'4 комнаты'
              }}
            ], (item) => {
              if(item.subItems){

                return  _.map(data[item.id], (subsub, index) => {
                  let l;
                  if (item.id === 'sub2') {
                    l = this.$t('thing.subs.' + item.id)+": "+this.$t('thing.subs.' +item.id+"_"+this.thing.envType+"_"+index)
                  } else {
                    l = this.$t('thing.subs.' + item.id)+": "+this.$t('thing.subs.' +item.id+"_"+index)
                  }

                  tableData.push({label: l,
                    id:item.id+'_'+index,
                    unsubmitted: subsub.item.unsubmitted,
                    data:this.convertToTable(subsub.item, item.id, index)})
                  })

              }
                tableData.push(_.assign(_.omit(item, 'subItems'), { label: this.$t('thing.subs.' +item.id), unsubmitted: data[item.id][0].item.unsubmitted, }, {data:this.convertToTable(data[item.id][0].item, item.id)}))
            })
//            tableData =  _.flattenDeep(tableData)

            this.tabs[0].data =  _.chain(data)
              .omit(['coverImage', '_id', 'sub1', 'sub2', 'sub3', 'data'])
              .assign(data.data)
              .value()

            this.tabs[1].data = data.panel
            this.tabs[2].data = data.album
            this.tabs[3].data = tableData
//            })
              this.$nextTick(() => {
//                this.$refs.setActiveItem
                this.activeVariant = 'common'
                this.$forceUpdate()
              })
          })
          .catch(err => {
            console.error(err)
          })
      },
      handleNodeClick(item){
        if(item.images){
          this.selectedItem = item
          if(this.$refs.carousel){
            this.$refs.carousel.setActiveItem(1)
            this.$nextTick(() => {
              if(this.$refs.carousel) {
                this.$refs.carousel.setActiveItem(0)
              }
            })
          }
        }
      },
      likeThing(item){

        thingRes.like({id: this.$route.params.id}, {value: item})
          .then((data)=>{
            if (data.body && data.body.results && data.body.results.disabled) {
              console.log('DISABLED')
              this.$message({
                message: this.$t('likeDisabled'),
                type: 'warning'
              });
              return;
            }
            this.thing.like = item;
            EventBus.$emit('thingVoted', this.$route.params.id, item)
            console.log(data)
            this.$nextTick(() => {
              this.$forceUpdate()
            })
          })
          .catch(err => {
            console.error(err)
          })
      },
      convertToTable(d, variantId, subId){
        let res = [];
        let a = _.omit(JSON.parse(JSON.stringify(d)),'images');

        for(let key in a){
          let checkerLabel = variantId === 'sub1' ? key : key+'.'+subId;
          var checkNumber = checkerToNumber(this.checkers[checkerLabel], a[key], this.thing.envType, key);
          res.push({
            label: 'thing.model.'+variantId+'.'+key,
            value: a[key],
            prelabel: key,
            subId: subId,
            variantId: variantId,
            envType: this.thing.envType,
            checkerLabel: checkerLabel,
            eval: checkNumber
          })
        }
        let itemsToRemove = ['unsubmitted', 'commonEvaluation']
        if(variantId === 'sub2'){
          itemsToRemove = _.concat(itemsToRemove, ['baseArea', 'frontArea', 'glassArea', 'celHeight', 'drainage', 'heavyElevator'])

        } else if(variantId === 'sub3'){
          itemsToRemove = _.concat(itemsToRemove, ['windows', 'balcony', 'balconyGlass', 'rightShape'])
        }
        res = _.reject(res, (item) => {
          let _itemsToRemove;
          if (item.envType === 'l' && item.subId !== 3) {
            _itemsToRemove = _.concat(itemsToRemove, ['flatsQty', 'k2', 'doubleOriented', 'elevatorsQty', 'concierge', 'transEntrance', 'storage', 'sharedSpaces'])
          } else {
            _itemsToRemove = _.concat(itemsToRemove, [])
          }
          return _.indexOf(_itemsToRemove, item.prelabel)>=0
        });

        let orders = {
          sub1: [
            'commonEvaluation',
            'area',
            'length',
            'height',
            'developedPercent',
            'dens',
            'commers',
            'parking',
            'population',
            'edu'
          ],
          sub2: [
            'commonEvaluation',
            'buildingHeight',
            'liveArea',
            'flatArea',
            'buildingArea',
            'baseArea',
            'frontArea',
            'glassArea',
            'floorArea',
            'm2price',
            'k1',
            'k2',
            'k3',
            'k4',
            'k5',
            'celHeight',
            'flatsQty',
            'doubleOriented',
            'drainage',
            'heavyElevator',
            'elevatorsQty',
            'concierge',
            'transEntrance',
            'storage',
            'sharedSpaces'
          ],
          sub3: [
            'commonEvaluation',
            'area',
            'liveArea',
            'windows',
            'balcony',
            'balconyGlass',
            'rightShape'
          ]
        };
//        console.log('\n - ',res)
        res = _.sortBy(res, (val) => {
//          console.log('.',variantId, val.prelabel)
          return _.indexOf(orders[variantId], val.prelabel)
        });
        return res;
      },
//      onSlide(data){
//
//        data.slide.classList.add('slidehidden')
//        let allItems = document.querySelectorAll('.slide');
////        console.log(allItems)
////        if(!allItems[data.index]){
////          console.log('no item?')
////          return
////        }
//        let newInstance = {
//          panzoom:panzoom(allItems[data.index],{
//            maxZoom: 4,
//            minZoom: 1,
//            smoothScroll: false
//          }),
//          slide:data.slide
//        }
//        data.slide.classList.add('current')
//        if(this.zoomInstance){
//          this.zoomInstance.panzoom.zoomAbs(
//            0, // initial x position
//            0, // initial y position
//            1  // initial zoom
//          )
//          this.zoomInstance.panzoom.dispose()
//          this.zoomInstance.slide.classList.remove('current')
//        }
//        this.zoomInstance = newInstance
//      },
      openGalley(data, index){
        Promise.map(data, (dat) => {
          return new Promise((resolve, reject) => {
            console.log('OG..');
            let img = new Image();
            img.onload = function() {
              console.log('OG.!');
              resolve({
                src: dat,
                w: img.width,
                h: img.height
              })
            }
            img.src = dat;
          })
        })
          .then((_data) => {
            this.$photoswipe.open(index, _data, {maxSpreadZoom: 4,
              zoomEl:true,
              fullscreenEl: true,
              closeOnScroll: false,
              shareEl:false})
          })
      },
      fetchCheckers(){
        // console.log('FC')
        return checkersRes.query().then(data => data.json()).then(data => {
          if (data && data.results){
            this.checkers = _.transform(data.results, (total, item) => {
              total[item._id] = item;
              return true;
            }, {})
            console.log('checkers', this.checkers);
          }
          return true;
        })
      },
      goToPrev(){
        thingRes.showPrev({id:this.thing._id})
          .then(data => data.json())
          .then((thing) => {
              if(thing && thing._id){
                this.$router.push({ path: `/work/${thing._id}` })
                this.fetch(thing._id)
              }
          })
      },
      goToNext(){
        thingRes.showNext({id:this.thing._id})
          .then(data => data.json())
          .then((thing) => {
            if(thing && thing._id) {
              this.$router.push({path: `/work/${thing._id}`})
              this.fetch(thing._id)
            }
          })
      },
    },
    mounted () {
      this.$nextTick(() => {
        this.fetch()
        this.fetchCheckers()
      })
    }
  }
</script>
<style lang="stylus" >
    @import "../assets/css/variable"

    .slidehidden
        opacity 0
        &.current
            opacity 1
    .prevnexticon
        font-weight bold
        font-size 16px
    #thingpage
        .el-tabs__item {
            flex: 1 !important;
        }
        .el-tabs__nav {
            display: flex;
            width: 100%;
        }
        .el-tabs__item
            &.is-active
                color $aijk !important
    .el-tabs--border-card > .el-tabs__header .el-tabs__item:hover {
        color: $aijk;
    }
    #likeradio
        margin-top -6px
        height: 30px;
    .el-radio-button:focus:not(.is-focus):not(:active)
        box-shadow: none !important;
    .el-radio-button__orig-radio:checked + .el-radio-button__inner
        box-shadow: none !important;
        background-color none;
    .el-radio-button
        &:focus {
            outline:0 !important;
            box-shadow: none !important;
        }
        &.vote-bad-button
            .el-radio-button__inner
                height: 31px;
                padding 6px 20px !important
                &:focus {outline:0 !important;}
                color $tz-bad
            &.is-active
                .el-radio-button__inner
                    height: 31px;
                    padding 6px 20px !important
                    background-color $tz-bad !important
                    border-color $tz-bad !important
                    color white


        &.vote-good-button
            .el-radio-button__inner
                height: 31px;
                padding 6px 20px
                &:focus {outline:0 !important;}
                color $tz-good
            &.is-active
                .el-radio-button__inner
                    height: 31px;
                    padding 6px 20px !important
                    background-color $tz-good
                    border-color $tz-good
                    color white

</style>
<style lang="stylus" scoped >
  @import "../assets/css/variable"
  .people-fav
      margin 12px
  .el-main
    padding 0px

  .el-carousel__item h3
      color #475669
      font-size 18px
      line-height 300px
      margin 0


  .el-carousel__item:nth-child(2n) {
      /*background-color: #99a9bf;*/
  }

  .el-carousel__item:nth-child(2n+1) {
      /*background-color: #d3dce6;*/
  }
  .el-header
      padding 0px
      background-color $aijk
  #thing-header
      .el-header
        padding: 0px 15px;
        text-align center;
        line-height 60px;
        font-size 40px;

  .header-bg
    text-align center
    height: 60px;
    line-height: 60px;

  .box-card

  .icon
    float right
    margin-left .5rem
    color $color-silver
    cursor pointer
    &:hover
      color $color-primary

  .listcover
    width 100%
    height 200px
    position relative
    background-size cover
    background-position center center
    background-repeat no-repeat
    &.nocover
      vertical-align middle
      line-height 1rem
      width 100%
      background-color $color-gray-light
      display table
      opacity 0.5
      .centertext
        text-align center
        display: table-cell;
        height: 100%;
        vertical-align: middle;

  .el-header
    color white
  .el-main

    &.l
        background-color $zone-l
    &.m
        background-color $zone-m
    &.h
        background-color $zone-h

  .prev-next-button
    width 100%
    color white
    &.prev
      float:left
      text-align: left;
      padding-left: 10px;
    &.next
      float:left
      text-align: right;
      padding-right: 10px;
    &:hover
      color white
      opacity 0.6


  .likebutton-container
      display flex
      flex-direction row-reverse
      justify-content center
      align-items center
  .vote-bad-icon
    background-image url('../assets/images/dislike.svg')
    background-repeat no-repeat
    background-size contain
    display inline-block
    width 20px
    height 20px
    margin-bottom -7px
    margin-right 7px

  .vote-good-icon
      display inline-block

  .header-number
      font-size 16px
      top 0px
      /*line-height 58px*/
      display inline-block
      vertical-align top
      padding-right 6px

  .likeicon
      padding-right 6px
      margin-bottom: -4px;
    &.dislike
        margin-bottom -6px
  .fradio
      font-size 14px !important
      vertical-align: middle;
      width 220px
      display inline-block
      height: 40px;
    .frcont
        height 34px
        display flex
        line-height: 33px;

    .b
        background-color white
        flex 1
        height: 100%
        display flex
        cursor pointer
        align-items: center;
        justify-content: center;
        &.lb
            border-radius 6px 0px 0px 6px
            border-right: 1px solid rgba($aijk, 0.1);
            color $tz-good
            &.active
                color white
                background-color $tz-good
        &.rb
            border-radius 0px 6px 6px 0px
            color $tz-bad
            border-left: 1px solid rgba($aijk, 0.1);
            &.active
                color white
                background-color $tz-bad

</style>