<template>
  <content-module name="voting">

    <data-table ref="voting" @page-change="fetch">
      <div slot="toolbar">
        <el-button type="primary" icon="plus" @click.native="createUser">{{$t('operation.create')}}</el-button>
      </div>
      <el-table :data="stages"
                border
                :default-sort = "{prop: 'order', order: 'ascending'}"
                height="100%">
        <el-table-column
                prop="tag"
                label="Tag"
                width="100"
        >
          <template slot-scope="scope">
            <el-tag
                    :type="getStageState(scope.row)"
                    close-transition>{{getStageStatus(scope.row)}}</el-tag>
          </template>
        </el-table-column>
        <el-table-column property="order" :label="$t('voting.model.order')"  min-width="120"></el-table-column>
        <el-table-column property="_id" label="ID" ></el-table-column>
        <el-table-column property="dueDate" label="Countdown"  >
          <template slot-scope="scope">
            <i class="el-icon-time"></i>
            <span style="margin-left: 10px" v-if="scope.row.dueDate">{{ parseCountDown(scope.row.dueDate) }}</span>
          </template>
        </el-table-column>

        <!--<el-table-column :label="$t('operation.operation')" align="center" width="120">-->
          <!--<template scope="scope">-->
          <!--<el-button type="text" @click.native="deleteUser(scope.row)">{{$t('operation.remove')}}</el-button>-->
          <!--</template>-->
        <!--</el-table-column>-->
        <el-table-column
                fixed="right"
                :label="$t('operation.operation')"
                width="120">
          <template slot-scope="scope">
            <el-button @click.native.prevent="editStage(scope.row)"
                       type="text" size="small">Edit</el-button>
              <el-button v-if="scope.row && systemData && systemData.currentStage && scope.row.order === systemData.currentStage.order" @click.native.prevent="closerVisible = true"
                         type="text" size="small">Finalize</el-button>
          </template>
        </el-table-column>
      </el-table>
    </data-table>
    <el-dialog :title="form._id ? $t('voting.edit.title') : $t('voting.create.title')"
               :before-close="handleClose"
               :visible.sync="formVisible">
    <!--<el-dialog :title="$t('voting.create.title')" v-model="formVisible" @close="cancelForm">-->
      <!--<el-form :model="form" :rules="rules" ref="form"-->
               <!--:close-on-click-modal="false" :close-on-press-escape="false">-->
        <el-form :model="form" :rules="rules" ref="form" label-width="49%" label-position="left">
        <el-form-item :label="$t('voting.model.dueDate')"  prop="dueDate">
        <el-date-picker
                v-model="form.dueDate"
                type="datetime"
                placeholder="Select date and time">
        </el-date-picker>
        </el-form-item>
            <el-button
                    v-if="form._id"
                    @click.native="setAsCurrent(form)">setAsCurrent</el-button>
            setAsCurrent
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click.native="formVisible=false">{{$t('confirm.cancel')}}</el-button>
        <el-button type="primary" @click.native="saveForm">{{$t('confirm.ok')}}</el-button>
      </span>
    </el-dialog>


      <!-- CLOSER -->
      <el-dialog title="Закрытие этапа"
                 @open="closerDialogAboutToOpen($event)"
                 :before-close="handleCloserClose"
                 :visible.sync="closerVisible">
          <el-transfer
                  v-model="closerForm.next"
                  :props="{
                      key: '_id',
                      label: 'pid'
                    }"
                  ref="transfer"
                  filterable
                  :left-default-checked="ldc"
                  :render-content="renderFunc"
                  :titles="['Текущий', 'Следущий']"
                  :format="{
                      noChecked: '${total}',
                      hasChecked: '${checked}/${total}'
                    }"
                  filter-placeholder="Enter PID"
                  :data="closerForm.current">
              <div slot="left-footer" >
                  <el-input-number v-model="closerSelectorCount" ></el-input-number>
                  <el-button class="transfer-footer"
                             @click="closerSelectAFew()"
                             style="float:right">Выбрать</el-button>
              </div>
              <!--<div slot="right-footer" >-->
                  <!--<el-button class="transfer-footer" size="small">Operat222ion</el-button>-->
              <!--</div>-->

          </el-transfer>
          <span slot="footer" class="dialog-footer">
                <el-button @click.native="closerVisible=false">{{$t('confirm.cancel')}}</el-button>
                <el-button type="primary" @click.native="finalizeStage">{{ 'выбрать ' + closerForm.next.length + ' победителей'}}</el-button>
          </span>
      </el-dialog>


  </content-module>
</template>
<script>
import DataTable from 'components/DataTable'
import { stages as stageRes, system as systemRes} from 'resources'
import locales from 'locales/voting'
import moment from 'moment'
export default {
  locales,
  data () {
    return {
      stages: [

      ],
      ldc:[],
      closerSelectorCount: 10,
      systemData: {},
      formVisible: false,
      closerVisible: false,
      form:{},
      closerForm:{
        current:[],
        next:[]
      },
      rules: {

      },
      renderFunc(h, option) {

        var likes = h('div', {
          attrs: {
            style: 'float:left; padding-right:10px; min-width:40px;opacity: 0.3;'
          }
        },  ''+option.likes+' |')

        var child = h('div', {
          attrs: {
            style: 'float:right; padding-right:10px;'
          }
        },  [likes, option.score])

        var parent
        if(!option.score){
          parent = h('div', {
          }, [option.thing.pid])
        } else {
          parent = h('div', {
          }, [option.thing.pid, child])
        }

        return parent
//        return h('div', {
//          attrs: {
//            style: 'background:red'
//          }
//        },`${option.thing.pid} - ${option.likes}`)//'asd';//createElement('h1', 'asd')
//        var div = document.createElement('template');
//        div.innerHTML = '<span>asdasd</span>';
//        return div.content.childNodes;//'<span> asd </span>';//${option.thing.pid} - ${option.likes}
      }
    }
  },
  computed: {
    transferData: function()  {
        const data = [];
        for (let i = 1; i <= 15; i++) {
          data.push({
            key: i,
            label: `Option ${ i }`,
            disabled: i % 4 === 0
          });
        }
        return data;
    }
  },
  components: {
    DataTable
  },
  methods: {
    fetch (current = 1) {
      this.$refs.voting.query(stageRes).then(list => {
        this.stages = list
      }).catch(err => {
        console.error(err)
      })
    },
    getSystemInfo(){
      systemRes.query(null)
        .then((resp) => {
          return resp.body.results
        })
        .then((sys) => {
            console.log('sys', sys);
            this.systemData = sys;
        })
        .catch(err => {
          console.error(err)
        })
    },
    getStageState(stage){
      if(this.systemData && this.systemData.currentStage && stage){
        if(stage.order === this.systemData.currentStage.order) {
          return 'success'
        } else if (stage.order > this.systemData.currentStage.order) {
          return 'primary'
        } else {
          return 'info'
        }
      }else{
        return 'info'
      }
    },
    getStageStatus(stage){
      if(this.systemData && this.systemData.currentStage && stage){
        if(stage.order === this.systemData.currentStage.order) {
          return 'CURRENT'
        } else if (stage.order > this.systemData.currentStage.order) {
          return 'Idle'
        } else {
          return 'Done'
        }
      }else{
        return 'Done'
      }
    },
    createUser () {
      this.formVisible = true
    },
    cancelForm () {
//      this.form.username = ''
//      this.form.password = ''
      this.formVisible = false
    },
    saveForm () {
      this.$refs.form.validate(valid => {
        if (valid) {
          if(this.form._id){
            stageRes.update({_id:this.form._id}, this.form).then(() => {
              this.cancelForm()
              this.$message({
                type: 'success',
                message: this.$t('message.created')
              })
              this.fetch()
            }).catch((err) => {
              this.$message({
                type: 'error',
                message: err.status === 422 ? this.$t('user.action.userExisted') : this.$t('message.createFailed')
              })
            })
          } else {
            stageRes.save(null, this.form).then(() => {
              this.cancelForm()
              this.$message({
                type: 'success',
                message: this.$t('message.created')
              })
              this.fetch()
            }).catch((err) => {
              this.$message({
                type: 'error',
                message: err.status === 422 ? this.$t('user.action.userExisted') : this.$t('message.createFailed')
              })
            })
          }

        }
      })
    },
    deleteUser (user) {
      this.$confirm(`This action will remove the selected user: ${user.username} forever, still going on?`, this.$t('confirm.title'), {
        type: 'warning'
      }).then(() => {
        stageRes.delete({ _id: user._id }).then(() => {
          this.$message({
            type: 'success',
            message: this.$t('message.removed')
          })
          this.fetch()
        })
      }).catch(() => {})
    },
    handleClose () {
      this.formVisible = false
    },
    handleCloserClose () {
      this.closerForm.current = []
      this.closerForm.next = []
      this.closerSelectorCount = 10
      this.closerVisible = false
    },
    editStage (stage){
      this.form = stage;
      this.formVisible = true
    },
    setAsCurrent (stage){
      console.log('set curr')
      systemRes.setCurrentStage({stageId: stage._id})
    },
    parseCountDown(date){
      let leftTime = Date.parse(date) - new Date().getTime();//Now i am passing the left time from controller itself which handles timezone stuff (UTC), just to simply question i used harcoded values.
      let duration = moment.duration(leftTime);
      return duration.days() + 'd:' + duration.hours()+ 'h:' + duration.minutes()+ 'm:' + duration.seconds() + 's'
    },
    fetchCurrentThings(){
      stageRes.currentThings()
        .then((things) => {
            console.log('Current things', things.body)
            this.closerForm.current = _.chain(things.body.results)
              .map((thing) => {
                return _.assign(thing, thing.thing)
              })
              .sortBy([function(o) { return -o.score; }])
              .value()

        })
    },
    closerDialogAboutToOpen(){
      this.fetchCurrentThings()
    },
    finalizeStage(){
      stageRes.finalize({winners:this.closerForm.next})
        .then((things) => {
          console.log('finalize', things.body)
          this.handleCloserClose()
          this.fetch()
          this.getSystemInfo()
        })
    },
    closerSelectAFew(){
        var ids = _.chain(this.closerForm.current)
          .take(this.closerSelectorCount)
          .map('_id')
          .value()
          this.ldc = []
          this.$nextTick(() => {
            this.ldc = ids
          })
    },
    setAsCurrent(form){
      stageRes.setAsCurrent({stage: form._id})
    }
  },
  mounted () {
    this.$nextTick(() => {
      this.fetch()
      this.getSystemInfo()

    })
  }
}
</script>

<style lang="stylus">
    @import "../assets/css/variable"
    .el-transfer
        display flex
    .el-transfer-panel
        flex 1

</style>