/* Copyright (c) 2013 by Gayane Bagdasaryan, Dmitry Rastvortsev. All rights reserved. */

@font-face {
	font-family: 'BrutalType';
	src: url('brutal-black.eot');
	src:
	     url('brutal-black.eot?#iefix') format('embedded-opentype'),
	     url('brutal-black.woff2') format('woff2'),
	     url('brutal-black.woff') format('woff'),
	     url('brutal-black.ttf') format('truetype'),
	     url('brutal-black.svg#BrutalType-Black') format('svg');
	font-weight: bold;
	font-style: bold;
}