<template>
    <el-form-item :label="label">
        <div style="display: flex">
            <el-button
                    class="tributton"
                    :type="allSelected?'primary':''"
                    @click="checkAll">{{$t('triradio.all')}}</el-button>
            <el-checkbox class="triitem" v-for="item in items"
                         :key="item.id"
                    v-model="selected[item.id]" :label="item.label" border></el-checkbox>
        </div>
        <div class="error-bar" v-if="isError">
            <span class="text">Должен быть выбран минимум 1 вариант</span>
        </div>
    </el-form-item>
</template>
<script>
  import * as _ from 'lodash'
  export default {
    components: {},
    model: {
      prop: 'selected',
      event: 'change'
    },
    props: {
      items: {
        type: Array,
        required: true
      },
      label: {
        type: String,
        required: true
      },
      selected: {
        type: Object
      }
    },
    data() {
      return {

      }
    },
    computed:{
      allSelected:function(){
        return _.every({...this.selected}, (item) => {
          return item
        })
      },
      isError:function(){
        return !_.some({...this.selected}, (item) => {
          return item
        })
      }
    },
    methods:{
      checkAll(){
        var isAllSelected = this.allSelected;
        _.each(this.items, (item) => {
          this.selected[item.id] = !isAllSelected;
        })
      }
    }
  }

</script>
<style lang="stylus" scoped>
    @import "../assets/css/variable"
    .error-bar
        border-top: 1px solid $color-danger
        line-height: 12px;
        text-align: center;
        margin-top: 4px;
        font-size: 10px;
        position: absolute;
        width: 100%;
        .text
            color: $color-danger
    .tributton
        margin-right: 10px;
    .triitem
        flex 1
</style>