/* Copyright (c) 2013 by Gayane Bagdasaryan, Dmitry Rastvortsev. All rights reserved. */

@font-face {
	font-family: 'BrutalType';
	src: url('brutal-regular.eot');
	src:
	     url('brutal-regular.eot?#iefix') format('embedded-opentype'),
	     url('brutal-regular.woff2') format('woff2'),
	     url('brutal-regular.woff') format('woff'),
	     url('brutal-regular.ttf') format('truetype'),
	     url('brutal-regular.svg#BrutalType') format('svg');
	font-weight: normal;
	font-style: normal;
}